/* reset */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* common */
.back{
    width: 100vw;
    height: 100vh;
    position: relative;
}
.centre-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* MAIN */
#box1{
    background-color: red;
}
#box2{
    background-color: #008000;
}
#box3{
    background-color:#f5f500;
}